@import 'app/modules/home/home.css';
@import 'app/modules/about/about.css';

:root {
    font-size: 1.069vw;    /* (font-size: 16px;) */
    --font-family: Georgia, 'Times New Roman', Times, serif;
    --font-title: cooper-black-std, sans-serif;
    --font-style: normal;
    --font-weight-title: 400;
    --line-height-normal: 1.6;
    --text-primary: #eeeeee;
    --text-secondary: #2b2b2b;
    --text-link: #CC3366;
    --text-activeLink: #2DA7B5;
    --bg-light: #e9e9e9;
    --bg-dark: #2b2b2b;
    --footer-bg-color: #525252;
    --icon-height: 1.2vw;
}

body {
    font-family: var(--font-family);
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.darkTheme {
    background-color: var(--bg-dark);
    color: var(--text-primary);
}

.lightTheme {
    background-color: var(--bg-light);
    color: var(--text-secondary);
}

#app {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.2);
}

.page-title {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.page-body {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: var(--line-height-normal);
    font-size: 1.2rem;
    font-weight: 500;
}

#noScript {
    font-family: var(--font-family);
    color: #CC3366;
    font-weight: bold;
}

#logoGraphic {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
}

#svgImg {
    width: 80%;
    height: auto;
}

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    margin: 2%;
    padding-left: auto;
    padding-right: 18%;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.nav-li {
    padding-left: 3%;
    padding-right: 0;
}

.nav-li a {
    color: var(--text-link);
    text-align: center;
    text-decoration: none;
    font-family: var(--font-title);
    font-style: var(--font-style);
    font-weight: var(--font-weight-title);
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
  }

.nav-li a:hover {
      color: #2DA7B5;
  }

.nav-li a .svg-icon {
    fill: #CC3366;
}

.nav-li a .svg-icon:hover {
    fill: #2DA7B5;
}

span {
    margin-left: 5%;
}

.menu-icon {
    max-height: var(--icon-height);
}

.dropdownList {
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem;
    margin: 0;
    text-align:left;
}

.dropdownItem a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font-family);
    font-weight: 500;
    padding: 0.5em;
    float: left;
}

.dropdownMenu:hover .dropdownList {
    display: block;
}

#page-footer {
    text-align: center;
    padding: 2%;
    margin-top: 5%;
    color: var(--text-primary);
    background-color: var(--footer-bg-color);
    font-size: 1rem;
    clip-path: polygon(0% 0%, 20% 0%, 18% 15%, 35% 0%, 50% 15%, 65% 0%, 82% 15%, 80% 0%, 100% 0%, 100% 100%, 0% 100%);
}


/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track color */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle color */
::-webkit-scrollbar-thumb {
    background: #1F77A6;
    height: 50%;
    border-radius: 10px;
}

/* Handle color on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2DA7B5;
}